server:
  port: 8086

spring:
  application:
    name: notification-service

  datasource:
    url: jdbc:mysql://localhost:3306/notification_db?createDatabaseIfNotExist=true
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    open-in-view: false

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notification-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      # Chỉ cần value-deserializer là đủ, nó sẽ tự động dùng __TypeId__ header
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        # Chỉ giữ lại trusted.packages để đảm bảo an toàn
        spring.json.trusted.packages: "nvt.socialnetwork.common.dto"

app:
  kafka:
    notification-topic: "notifications"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
