server:
  port: 8084
spring:
  application:
    name: comment-service
  datasource:
    url: jdbc:mysql://localhost:3306/comment_db?createDatabaseIfNotExist=true # Thêm tùy chọn này cho tiện
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  
  # === KHỐI KAFKA ĐÚNG VỊ TRÍ ===
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      # Nên dùng JsonSerializer để gửi object NotificationEvent
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

# === KHỐI CẤU HÌNH TÙY CHỈNH CHO TÊN TOPIC ===
app:
  kafka:
    notification-topic: "notifications"